@page
@model sugarProject.Pages.AdminModel
@using System.Data
@{
}
<style>
	.center{
		width: 60%;
	}
	body{
		text-decoration: none;
	}
</style>
<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<div>
	<h1>User Table</h1>

	<form class="form" method="post">
		<input asp-for="filterValue" class="form-control" placeholder="Enter filter value" />

		<select asp-for="filterColumn" class="form-control">
			<option value="fName">First Name</option>
			<option value="lName">Last Name</option>
			<option value="prefix">Prefix</option>
			<option value="Id">Id</option>
			<option value="eMail">Email</option>
		</select>

		<button type="submit" class="btn btn-primary btn-block"
				style="opacity: 0.8;">
			Filter
		</button>
	</form>

	<table class="table table-striped table-bordered table-hover table-dark table-responsive">
		<thead>
			<tr>	
				@foreach (string displayColumn in @Model.displayColumns)
				{
					<th>@displayColumn</th>
				}

			</tr>
		</thead>
		<tbody>
			@foreach (DataRow row in @Model.DataTableUsers.Rows)
			{			
				<tr>
					@foreach (string displayColumn in @Model.displayColumns)
					{

					
						<td>@row[displayColumn]</td>
						
					}
				</tr>
			}
			</tbody>
	</table>
	<h3>Number of users: @Model.DataTableUsers.Rows.Count</h3>
</div>